In [73]:
import pandas as pd
import openpyxl
import seaborn as sns
import matplotlib.pyplot as plt

In [74]:
df = pd.read_csv('data/englishDescriptiveStatistics.csv')
df.dtypes

Unnamed: 0     object
Q23           float64
Q24           float64
Q25           float64
Q26           float64
Q27           float64
Q28           float64
Q29           float64
Q30           float64
Q31           float64
Q32           float64
Q33           float64
Q34           float64
Q35           float64
Q36           float64
Q37           float64
Q38           float64
Q39           float64
Q40           float64
Q41           float64
Q42           float64
Q43           float64
Q44           float64
Q45           float64
Q46           float64
dtype: object

In [75]:
df1 = df.T
df1 = df1.drop('Unnamed: 0')
df1

        0     1         2    3     4    5     6    7
Q23  20.0   4.7  0.571241  3.0  4.75  5.0   5.0  5.0
Q24  20.0  4.55  0.825578  2.0   4.0  5.0   5.0  5.0
Q25  20.0   3.9  1.252366  1.0   3.0  4.0   5.0  5.0
Q26  20.0   4.2  0.894427  2.0   4.0  4.0   5.0  5.0
Q27  20.0  4.85  0.366348  4.0   5.0  5.0   5.0  5.0
Q28  20.0   2.8  0.951453  1.0   2.0  3.0   4.0  4.0
Q29  20.0   2.1   1.11921  1.0   1.0  2.0   2.0  5.0
Q30  20.0  3.05  1.356272  1.0   2.0  3.0   4.0  5.0
Q31  20.0   2.2  1.105013  1.0   1.0  2.0   3.0  4.0
Q32  20.0  2.15  1.089423  1.0   1.0  2.0   3.0  4.0
Q33  20.0  1.65  1.182103  1.0   1.0  1.0   2.0  5.0
Q34  20.0   3.6  1.353358  1.0  2.75  4.0   5.0  5.0
Q35  20.0  1.75  1.118034  1.0   1.0  1.0   2.0  5.0
Q36  20.0  2.25  1.164158  1.0   1.0  2.0   3.0  5.0
Q37  20.0   4.3  0.732695  3.0   4.0  4.0   5.0  5.0
Q38  20.0   1.5  0.606977  1.0   1.0  1.0   2.0  3.0
Q39  20.0  3.25  1.409554  1.0   2.0  4.0   4.0  5.0
Q40  20.0   2.4  1.231174  1.0   1.0  2.0   3.0  5.0
Q41  20.0   1.4  0.753937  1.0   1.0  1.0   2.0  4.0
Q42  20.0   1.9  0.788069  1.0   1.0  2.0  2.25  3.0
Q43  20.0  1.65   0.74516  1.0   1.0  1.5   2.0  3.0
Q44  20.0  2.85  1.089423  1.0   2.0  3.0   4.0  4.0
Q45  20.0   3.5  1.235442  1.0   3.0  3.5  4.25  5.0
Q46  20.0   4.5   0.82717  2.0   4.0  5.0   5.0  5.0

In [76]:
for num in range(0,8):
    df1[num] = pd.to_numeric(df1[num])

In [77]:
df1.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

In [78]:
rename = {
    0: 'count',
    1: 'mean',
    2: 'std',
    3: 'min',
    4: '25%',
    5: '50%',
    6: '75%',
    7: 'max'
}

In [79]:
df1 = df1.rename(rename, axis=1)
df1

     count  mean       std  min   25%  50%   75%  max
Q23   20.0  4.70  0.571241  3.0  4.75  5.0  5.00  5.0
Q24   20.0  4.55  0.825578  2.0  4.00  5.0  5.00  5.0
Q25   20.0  3.90  1.252366  1.0  3.00  4.0  5.00  5.0
Q26   20.0  4.20  0.894427  2.0  4.00  4.0  5.00  5.0
Q27   20.0  4.85  0.366348  4.0  5.00  5.0  5.00  5.0
Q28   20.0  2.80  0.951453  1.0  2.00  3.0  4.00  4.0
Q29   20.0  2.10  1.119210  1.0  1.00  2.0  2.00  5.0
Q30   20.0  3.05  1.356272  1.0  2.00  3.0  4.00  5.0
Q31   20.0  2.20  1.105013  1.0  1.00  2.0  3.00  4.0
Q32   20.0  2.15  1.089423  1.0  1.00  2.0  3.00  4.0
Q33   20.0  1.65  1.182103  1.0  1.00  1.0  2.00  5.0
Q34   20.0  3.60  1.353358  1.0  2.75  4.0  5.00  5.0
Q35   20.0  1.75  1.118034  1.0  1.00  1.0  2.00  5.0
Q36   20.0  2.25  1.164158  1.0  1.00  2.0  3.00  5.0
Q37   20.0  4.30  0.732695  3.0  4.00  4.0  5.00  5.0
Q38   20.0  1.50  0.606977  1.0  1.00  1.0  2.00  3.0
Q39   20.0  3.25  1.409554  1.0  2.00  4.0  4.00  5.0
Q40   20.0  2.40  1.231174  1.0  1.00  2.0  3.00  5.0
Q41   20.0  1.40  0.753937  1.0  1.00  1.0  2.00  4.0
Q42   20.0  1.90  0.788069  1.0  1.00  2.0  2.25  3.0
Q43   20.0  1.65  0.745160  1.0  1.00  1.5  2.00  3.0
Q44   20.0  2.85  1.089423  1.0  2.00  3.0  4.00  4.0
Q45   20.0  3.50  1.235442  1.0  3.00  3.5  4.25  5.0
Q46   20.0  4.50  0.827170  2.0  4.00  5.0  5.00  5.0

In [ ]:
rename_questions = {'Q23':'Is it important to me that my child achieves independence',
                'Q24':"I have a clear understanding of typical child development and whether my child is reaching the appropriate milestones for their age",
                'Q25':"I feel like I am financially stable where I can afford my child's services if needed",
                'Q26':'I am aware of the stereotypes surrounding my race',
                'Q27':'I believe my child was destined to be in my life',
                'Q28':'I care about what others think of me',
                'Q29':'I feel knowledgeable about intervention services for children with disabilities/delay',
                'Q30':'I feel like religion plays a big role in my life',
                'Q31':'I believe that a $50 copay for one therapy session is expensive',
                'Q32':'I do not agree with the stereotypes surrounding my race',
                'Q33':'I feel intervention services are beneficial for children with disabilities/delay',
                'Q34':'I believe my religion influences my everyday decisions',
                'Q35':'I feel like I can talk to family, friends, or healthcare providers if I need to find intervention services for my child',
                'Q36':'I am aware of intervention services that are available in my area/community',
                'Q37':'I believe my financial situation is a reason why I do not/would not seek intervention services for my child',
                'Q38':'I am willing to have open conversations about people with disabilities',
                'Q39':'I believe my religion plays a role in how I raise my child',
                'Q40':'I feel as if my job provides me with necessary benefits to support my family',
                'Q41':'I am comfortable around a person with a disability',
                'Q42':'My culture is important to me',
                'Q43':'I feel like I can find support to meet my child’s educational needs',
                'Q44':'I believe that a $30 copay for one therapy session is expensive',
                'Q45':'I feel like my religion allows me to get intervention services for my child',
                'Q46':'I feel like my monthly expenses are more important than getting services for my child'}

In [80]:
df1.to_csv('data/finalDescriptives.csv')