In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/newEnglishSLP.csv')
df

,Unnamed: 0,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
0,0,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,5,1,1,4,2,1,1,4,3,5
1,1,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,4,1,4,2,2,2,2,2,1,5
2,2,1,1,2,NaN,3,NaN,NaN,NaN,NaN,...,4,3,1,3,2,2,2,2,1,5
3,3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,4,2,2,3,4,2,2,4,2,4
4,5,1,1,2,NaN,2,1.0,NaN,1.0,NaN,...,5,1,4,1,1,2,1,4,4,5
5,6,1,1,1,NaN,2,1.0,NaN,NaN,NaN,...,3,2,5,1,1,3,1,2,5,4
6,8,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,3,2,3,3,1,1,3,3,5,5
7,9,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,2,4,2,1,3,2,4,3,5
8,10,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,4,2,1,1,1,3,4,5
9,11,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,1,5,1,1,3,3,2,5,4
10,12,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,1,2,3,1,1,3,2,3,4
11,13,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,1,3,1,1,1,2,4,5
12,16,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,4,2,2,1,1,2,1,1,3,4
13,19,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,4,1,1,3,1,4,4,5
14,22,1,1,1,NaN,2,NaN,NaN,1.0,NaN,...,4,1,2,4,1,1,1,4,3,5
15,23,1,1,2,NaN,2,NaN,NaN,1.0,NaN,...,3,1,5,5,2,3,1,2,5,3
16,24,1,1,1,NaN,2,1.0,1.0,NaN,NaN,...,4,2,4,2,2,2,2,3,4,5
17,25,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,3,1,1,1,1,4,5,5
18,26,1,1,2,NaN,2,NaN,NaN,1.0,NaN,...,4,2,4,2,1,2,2,4,3,5
19,27,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,4,2,5,4,1,2,2,1,3,2

In [3]:
df.columns

Index(['Unnamed: 0', 'Q47', 'Q1', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4_1', 'Q4_2',
       'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT', 'Q5',
       'Q5_8_TEXT', 'Q6', 'Q7', 'Q7_4_TEXT', 'Q8', 'Q8_8_TEXT', 'Q9', 'Q10',
       'Q10_2_TEXT', 'Q11', 'Q12', 'Q13', 'Q13_1_TEXT', 'Q14', 'Q15',
       'Q15_7_TEXT', 'Q16', 'Q16_2_TEXT', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q20_1_TEXT', 'Q20_2_TEXT', 'Q21', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46'],
      dtype='object')

In [4]:
question = ['Q4_1', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT']
answer = [1, 2, 3, 4, 5, 6, 7, 8, np.nan]
# answer = ['White/Caucasian', 'Black/African American', 'Hispanic/Latino', 'Native American or Alaskan Native', 'Asian or Pacific Islander', 'Middle Eastern or North African', 'Other', 'Prefer not to answer', 'Other(Please Specify']

In [5]:
for num in range(len(question)):
    df[question[num]] = df[question[num]].replace(1.0, answer[num])

In [6]:
df[question]

    Q4_1  Q4_2  Q4_3  Q4_4  Q4_5  Q4_6  Q4_7  Q4_8  Q4_7_TEXT
0    NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN        NaN
1    NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN        NaN
2    NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN        NaN
3    NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN        NaN
4    1.0   NaN   3.0   NaN   NaN   NaN   NaN   NaN        NaN
5    1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
6    1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
7    1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
8    1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
9    1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
10   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
11   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
12   NaN   NaN   NaN   NaN   NaN   NaN   NaN   8.0        NaN
13   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
14   NaN   NaN   3.0   NaN   NaN   NaN   NaN   NaN        NaN
15   NaN   NaN   3.0   NaN   NaN   NaN   NaN   NaN        NaN
16   1.0   2.0   NaN   NaN   NaN   NaN   NaN   NaN        NaN
17   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN
18   NaN   NaN   3.0   NaN   NaN   NaN   NaN   NaN        NaN
19   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN

In [7]:
df['Q4'] = df.Q4_1.combine_first(df.Q4_2).combine_first(df.Q4_3).combine_first(df.Q4_4).combine_first(df.Q4_5).combine_first(df.Q4_6).combine_first(df.Q4_8)
df

,Unnamed: 0,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,...,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q4
0,0,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,1,1,4,2,1,1,4,3,5,5.0
1,1,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,1,4,2,2,2,2,2,1,5,5.0
2,2,1,1,2,NaN,3,NaN,NaN,NaN,NaN,...,3,1,3,2,2,2,2,1,5,5.0
3,3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,2,2,3,4,2,2,4,2,4,5.0
4,5,1,1,2,NaN,2,1.0,NaN,3.0,NaN,...,1,4,1,1,2,1,4,4,5,1.0
5,6,1,1,1,NaN,2,1.0,NaN,NaN,NaN,...,2,5,1,1,3,1,2,5,4,1.0
6,8,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,2,3,3,1,1,3,3,5,5,1.0
7,9,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,2,4,2,1,3,2,4,3,5,1.0
8,10,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,1,4,2,1,1,1,3,4,5,1.0
9,11,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,1,5,1,1,3,3,2,5,4,1.0
10,12,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,1,2,3,1,1,3,2,3,4,1.0
11,13,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,1,1,3,1,1,1,2,4,5,1.0
12,16,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,2,2,1,1,2,1,1,3,4,8.0
13,19,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,1,4,1,1,3,1,4,4,5,1.0
14,22,1,1,1,NaN,2,NaN,NaN,3.0,NaN,...,1,2,4,1,1,1,4,3,5,3.0
15,23,1,1,2,NaN,2,NaN,NaN,3.0,NaN,...,1,5,5,2,3,1,2,5,3,3.0
16,24,1,1,1,NaN,2,1.0,2.0,NaN,NaN,...,2,4,2,2,2,2,3,4,5,1.0
17,25,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,1,3,1,1,1,1,4,5,5,1.0
18,26,1,1,2,NaN,2,NaN,NaN,3.0,NaN,...,2,4,2,1,2,2,4,3,5,3.0
19,27,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,2,5,4,1,2,2,1,3,2,1.0

In [8]:
df['Q4'].dtypes

dtype('float64')

In [9]:
df.to_csv('data/finalEnglishSLP.csv')