In [95]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [96]:
sns.set_theme(style='whitegrid')

In [97]:
df = pd.read_csv('data/newEnglishSLP1.csv')
df

,Unnamed: 0,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
0,0,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,5,1,1,4,2,1,1,4,3,5
1,1,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,4,1,4,2,2,2,2,2,1,5
2,3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,4,2,2,3,4,2,2,4,2,4
3,5,1,1,2,NaN,2,1.0,NaN,1.0,NaN,...,5,1,4,1,1,2,1,4,4,5
4,6,1,1,1,NaN,2,1.0,NaN,NaN,NaN,...,3,2,5,1,1,3,1,2,5,4
5,8,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,3,2,3,3,1,1,3,3,5,5
6,9,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,2,4,2,1,3,2,4,3,5
7,10,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,4,2,1,1,1,3,4,5
8,11,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,1,5,1,1,3,3,2,5,4
9,12,1,1,2,NaN,2,1.0,NaN,NaN,NaN,...,5,1,2,3,1,1,3,2,3,4
10,13,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,1,3,1,1,1,2,4,5
11,21,1,1,2,NaN,3,1.0,NaN,NaN,NaN,...,5,1,4,1,1,3,1,4,4,5

In [98]:
df.columns

Index(['Unnamed: 0', 'Q47', 'Q1', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4_1', 'Q4_2',
       'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT', 'Q5',
       'Q5_8_TEXT', 'Q6', 'Q7', 'Q7_4_TEXT', 'Q8', 'Q8_8_TEXT', 'Q9', 'Q10',
       'Q10_2_TEXT', 'Q11', 'Q12', 'Q13', 'Q13_1_TEXT', 'Q14', 'Q15',
       'Q15_7_TEXT', 'Q16', 'Q16_2_TEXT', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q20_1_TEXT', 'Q20_2_TEXT', 'Q21', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46'],
      dtype='object')

In [99]:
question = ['Q4_1', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT']
answer = ['White/Caucasian', 'Black/African American', 'Hispanic/Latino', 'Native American or Alaskan Native', 'Asian or Pacific Islander', 'Middle Eastern or North African', 'Other', 'Prefer not to answer', 'Other(Please Specify']

In [100]:
for num in range(len(question)):
    df[question[num]] = df[question[num]].replace(1.0, answer[num])

In [101]:
# df[question] = df[question].astype(str)
# df[question].dtypes

In [102]:
df[question]

,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,Q4_6,Q4_7,Q4_8,Q4_7_TEXT
0,NaN,NaN,NaN,NaN,Asian or Pacific Islander,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Asian or Pacific Islander,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Asian or Pacific Islander,NaN,NaN,NaN,NaN
3,White/Caucasian,NaN,Hispanic/Latino,NaN,NaN,NaN,NaN,NaN,NaN
4,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,White/Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df['Q4'] = df.Q4_1.combine_first(df.Q4_2).combine_first(df.Q4_3).combine_first(df.Q4_4).combine_first(df.Q4_5).combine_first(df.Q4_6).combine_first(df.Q4_8)
df

,Unnamed: 0,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,...,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q4
0,0,1,1,2,NaN,2,NaN,NaN,NaN,NaN,...,1,1,4,2,1,1,4,3,5,Asian or Pacific Islander
1,1,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,1,4,2,2,2,2,2,1,5,Asian or Pacific Islander
2,3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,...,2,2,3,4,2,2,4,2,4,Asian or Pacific Islander
3,5,1,1,2,NaN,2,White/Caucasian,NaN,Hispanic/Latino,NaN,...,1,4,1,1,2,1,4,4,5,White/Caucasian
4,6,1,1,1,NaN,2,White/Caucasian,NaN,NaN,NaN,...,2,5,1,1,3,1,2,5,4,White/Caucasian
5,8,1,1,2,NaN,3,White/Caucasian,NaN,NaN,NaN,...,2,3,3,1,1,3,3,5,5,White/Caucasian
6,9,1,1,2,NaN,2,White/Caucasian,NaN,NaN,NaN,...,2,4,2,1,3,2,4,3,5,White/Caucasian
7,10,1,1,2,NaN,3,White/Caucasian,NaN,NaN,NaN,...,1,4,2,1,1,1,3,4,5,White/Caucasian
8,11,1,1,2,NaN,2,White/Caucasian,NaN,NaN,NaN,...,1,5,1,1,3,3,2,5,4,White/Caucasian
9,12,1,1,2,NaN,2,White/Caucasian,NaN,NaN,NaN,...,1,2,3,1,1,3,2,3,4,White/Caucasian
10,13,1,1,2,NaN,3,White/Caucasian,NaN,NaN,NaN,...,1,1,3,1,1,1,2,4,5,White/Caucasian
11,21,1,1,2,NaN,3,White/Caucasian,NaN,NaN,NaN,...,1,4,1,1,3,1,4,4,5,White/Caucasian

In [104]:
df['Q4'].dtypes

dtype('O')

In [105]:
df[['Q13', 'Q13_1_TEXT']]

    Q13       Q13_1_TEXT
0     1           Female
1     1              NaN
2     1            Male
3     1             Male
4     1             Male
5     1             Male
6     1           Female
7     1             male
8     1             Girl
9     1           Female
10    1  2 female 1 male
11    1             male