In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
sns.set_theme(style='whitegrid')

In [4]:
df = pd.read_csv('data/finalEnglishSLP.csv')
df

,Unnamed: 0.1,Unnamed: 0,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,...,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q4
0,0,0,1,1,2,NaN,2,NaN,NaN,NaN,...,1,1,4,2,1,1,4,3,5,5.0
1,1,1,1,1,1,NaN,3,NaN,NaN,NaN,...,1,4,2,2,2,2,2,1,5,5.0
2,2,2,1,1,2,NaN,3,NaN,NaN,NaN,...,3,1,3,2,2,2,2,1,5,5.0
3,3,3,1,1,1,NaN,3,NaN,NaN,NaN,...,2,2,3,4,2,2,4,2,4,5.0
4,4,5,1,1,2,NaN,2,1.0,NaN,3.0,...,1,4,1,1,2,1,4,4,5,1.0
5,5,6,1,1,1,NaN,2,1.0,NaN,NaN,...,2,5,1,1,3,1,2,5,4,1.0
6,6,8,1,1,2,NaN,3,1.0,NaN,NaN,...,2,3,3,1,1,3,3,5,5,1.0
7,7,9,1,1,2,NaN,2,1.0,NaN,NaN,...,2,4,2,1,3,2,4,3,5,1.0
8,8,10,1,1,2,NaN,3,1.0,NaN,NaN,...,1,4,2,1,1,1,3,4,5,1.0
9,9,11,1,1,2,NaN,2,1.0,NaN,NaN,...,1,5,1,1,3,3,2,5,4,1.0
10,10,12,1,1,2,NaN,2,1.0,NaN,NaN,...,1,2,3,1,1,3,2,3,4,1.0
11,11,13,1,1,2,NaN,3,1.0,NaN,NaN,...,1,1,3,1,1,1,2,4,5,1.0
12,12,16,1,1,2,NaN,2,NaN,NaN,NaN,...,2,2,1,1,2,1,1,3,4,8.0
13,13,19,1,1,2,NaN,3,1.0,NaN,NaN,...,1,4,1,1,3,1,4,4,5,1.0
14,14,22,1,1,1,NaN,2,NaN,NaN,3.0,...,1,2,4,1,1,1,4,3,5,3.0
15,15,23,1,1,2,NaN,2,NaN,NaN,3.0,...,1,5,5,2,3,1,2,5,3,3.0
16,16,24,1,1,1,NaN,2,1.0,2.0,NaN,...,2,4,2,2,2,2,3,4,5,1.0
17,17,25,1,1,2,NaN,3,1.0,NaN,NaN,...,1,3,1,1,1,1,4,5,5,1.0
18,18,26,1,1,2,NaN,2,NaN,NaN,3.0,...,2,4,2,1,2,2,4,3,5,3.0
19,19,27,1,1,2,NaN,2,1.0,NaN,NaN,...,2,5,4,1,2,2,1,3,2,1.0

In [5]:
knowledge_of_intervention = ['Q24', 'Q29', 'Q33','Q35', 'Q36', 'Q43']
religion = ['Q27', 'Q30', 'Q34', 'Q39', 'Q42', 'Q45']
socioeconomic_status = ['Q25', 'Q31', 'Q37', 'Q40', 'Q44', 'Q46']
stigmas_perception = ['Q23', 'Q26', 'Q28', 'Q32', 'Q38', 'Q41']

In [6]:
df_knowledge = df[knowledge_of_intervention]
df_religion = df[religion]
df_socioeconomic = df[socioeconomic_status]
df_stigmas = df [stigmas_perception]

In [7]:
df_knowledge

    Q24  Q29  Q33  Q35  Q36  Q43
0     5    2    1    1    3    1
1     4    2    5    5    2    2
2     4    2    1    1    2    2
3     4    2    2    4    3    2
4     5    1    1    1    1    1
5     2    4    2    2    2    1
6     4    2    1    2    3    3
7     5    2    1    1    3    2
8     5    1    1    1    1    1
9     5    1    3    2    5    3
10    5    2    1    2    2    3
11    5    1    1    1    1    1
12    5    2    1    1    3    1
13    5    5    1    1    1    1
14    5    2    1    1    1    1
15    5    3    3    3    4    1
16    3    4    1    2    3    2
17    5    1    1    1    1    1
18    5    2    1    1    3    2
19    5    1    4    2    1    2