In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/englishSLP.csv')

In [3]:
df.shape

(33, 81)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 81 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StartDate              33 non-null     object
 1   EndDate                33 non-null     object
 2   Status                 33 non-null     object
 3   IPAddress              33 non-null     object
 4   Progress               33 non-null     object
 5   Duration (in seconds)  33 non-null     object
 6   Finished               33 non-null     object
 7   RecordedDate           33 non-null     object
 8   ResponseId             33 non-null     object
 9   RecipientLastName      2 non-null      object
 10  RecipientFirstName     2 non-null      object
 11  RecipientEmail         2 non-null      object
 12  ExternalReference      2 non-null      object
 13  LocationLatitude       25 non-null     object
 14  LocationLongitude      25 non-null     object
 15  DistributionChannel    33 non-null     object
 16  UserLanguage           33 non-null     object
 17  Q47                    33 non-null     object
 18  Q1                     31 non-null     object
 19  Q2                     31 non-null     object
 20  Q2_6_TEXT              2 non-null      object
 21  Q3                     31 non-null     object
 22  Q4_1                   18 non-null     object
 23  Q4_2                   3 non-null      object
 24  Q4_3                   8 non-null      object
 25  Q4_4                   2 non-null      object
 26  Q4_5                   7 non-null      object
 27  Q4_6                   3 non-null      object
 28  Q4_7                   2 non-null      object
 29  Q4_8                   4 non-null      object
 30  Q4_7_TEXT              2 non-null      object
 31  Q5                     26 non-null     object
 32  Q5_8_TEXT              2 non-null      object
 33  Q6                     31 non-null     object
 34  Q7                     31 non-null     object
 35  Q7_4_TEXT              2 non-null      object
 36  Q8                     31 non-null     object
 37  Q8_8_TEXT              6 non-null      object
 38  Q9                     31 non-null     object
 39  Q10                    31 non-null     object
 40  Q10_2_TEXT             16 non-null     object
 41  Q11                    31 non-null     object
 42  Q12                    31 non-null     object
 43  Q13                    31 non-null     object
 44  Q13_1_TEXT             30 non-null     object
 45  Q14                    31 non-null     object
 46  Q15                    31 non-null     object
 47  Q15_7_TEXT             3 non-null      object
 48  Q16                    31 non-null     object
 49  Q16_2_TEXT             17 non-null     object
 50  Q17                    29 non-null     object
 51  Q18                    29 non-null     object
 52  Q19                    11 non-null     object
 53  Q20                    10 non-null     object
 54  Q20_1_TEXT             10 non-null     object
 55  Q20_2_TEXT             2 non-null      object
 56  Q21                    29 non-null     object
 57  Q23                    26 non-null     object
 58  Q24                    26 non-null     object
 59  Q25                    26 non-null     object
 60  Q26                    26 non-null     object
 61  Q27                    26 non-null     object
 62  Q28                    26 non-null     object
 63  Q29                    26 non-null     object
 64  Q30                    26 non-null     object
 65  Q31                    26 non-null     object
 66  Q32                    25 non-null     object
 67  Q33                    25 non-null     object
 68  Q34                    25 non-null     object
 69  Q35                    25 non-null     object
 70  Q36                    25 non-null     object
 71  Q37                    25 non-null     object
 72  Q38                    25 non-null     object
 73  Q39                    25 non-null     object
 74  Q40                    25 non-null     object
 75  Q41                    25 non-null     object
 76  Q42                    25 non-null     object
 77  Q43                    25 non-null     object
 78  Q44                    25 non-null     object
 79  Q45                    25 non-null     object
 80  Q46                    25 non-null     object
dtypes: object(81)
memory usage: 21.0+ KB

In [5]:
df.columns[range(0,18)]

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q47'],
      dtype='object')

In [6]:
new_df = df.drop([0,1])
new_df

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
2,2022-10-08 03:50:36,2022-10-08 03:57:19,0,72.68.211.80,100,403,1,2022-10-08 03:57:20,R_2Yib3oePyqCKZim,NaN,...,5,1,1,4,2,1,1,4,3,5
3,2022-10-17 23:38:26,2022-10-17 23:52:10,0,108.183.55.196,100,823,1,2022-10-17 23:52:11,R_22QFZl1g1M8HoyY,NaN,...,4,1,4,2,2,2,2,2,1,5
4,2022-10-17 23:52:34,2022-10-18 00:05:38,0,71.190.131.5,100,783,1,2022-10-18 00:05:38,R_3r00Ye83mVCsqu2,NaN,...,4,3,1,3,2,2,2,2,1,5
5,2022-10-18 01:57:31,2022-10-18 02:05:42,0,119.160.57.201,100,491,1,2022-10-18 02:05:43,R_3NxG1pinrBPf8w8,NaN,...,4,2,2,3,4,2,2,4,2,4
6,2022-10-18 00:08:13,2022-10-18 00:14:34,0,67.85.21.60,48,380,0,2022-10-25 00:14:36,R_1hGPPRHYwff3a46,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-10-26 16:07:06,2022-10-26 16:15:45,0,144.121.212.106,100,519,1,2022-10-26 16:15:45,R_Zw4w2xSdp5gkKpX,NaN,...,5,1,4,1,1,2,1,4,4,5
8,2022-10-26 16:22:40,2022-10-26 16:25:56,0,75.99.74.106,100,195,1,2022-10-26 16:25:56,R_3EAWOqjyBIjWuSs,NaN,...,3,2,5,1,1,3,1,2,5,4
9,2022-10-26 16:23:52,2022-10-26 16:34:31,0,172.56.161.243,100,638,1,2022-10-26 16:34:31,R_2PnX2J13meQn91G,NaN,...,4,1,4,2,1,2,2,2,4,5
10,2022-10-27 01:25:32,2022-10-27 01:35:49,0,69.121.80.67,100,617,1,2022-10-27 01:35:50,R_1ifEH8eIvyOLSb5,NaN,...,3,2,3,3,1,1,3,3,5,5
11,2022-10-27 05:24:41,2022-10-27 05:31:05,0,47.20.60.46,100,383,1,2022-10-27 05:31:05,R_2AM8GLmRwNIzsjW,NaN,...,5,2,4,2,1,3,2,4,3,5
12,2022-10-29 14:13:06,2022-10-29 14:18:15,0,67.87.235.54,100,309,1,2022-10-29 14:18:15,R_2CDlbFLW2Rl5vai,NaN,...,5,1,4,2,1,1,1,3,4,5
13,2022-10-31 02:51:38,2022-10-31 02:55:40,0,69.124.184.6,100,242,1,2022-10-31 02:55:40,R_2wghIrZiG5DTZS7,NaN,...,5,1,5,1,1,3,3,2,5,4
14,2022-11-01 12:06:15,2022-11-01 12:24:34,0,152.130.6.133,100,1099,1,2022-11-01 12:24:35,R_20YbHSHcS4t7ItD,NaN,...,5,1,2,3,1,1,3,2,3,4
15,2022-11-01 14:27:31,2022-11-01 14:34:01,0,198.46.117.100,100,389,1,2022-11-01 14:34:01,R_1fjh3n5vBtxi473,NaN,...,5,1,1,3,1,1,1,2,4,5
16,2022-10-26 23:26:13,2022-10-26 23:40:10,0,172.58.227.115,37,837,0,2022-11-02 23:40:14,R_2SBlvTzZ4Y0XiIr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2022-10-27 10:44:46,2022-10-27 10:49:48,0,100.2.175.23,37,302,0,2022-11-03 10:49:49,R_1onXN478WClDBeF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2022-11-06 22:12:50,2022-11-06 22:24:02,0,67.85.103.159,100,671,1,2022-11-06 22:24:02,R_0uruLK9lt77fldL,NaN,...,4,2,2,1,1,2,1,1,3,4
19,2022-11-01 12:46:40,2022-11-01 12:49:52,0,198.46.117.100,48,191,0,2022-11-08 12:49:52,R_3MnzUH4AsdPQtdk,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2022-11-05 15:19:04,2022-11-05 15:23:59,0,148.75.100.4,48,295,0,2022-11-12 15:24:01,R_1Nt3N0yAbflqpVB,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2022-11-15 01:10:47,2022-11-15 01:53:46,0,68.198.46.81,100,2579,1,2022-11-15 01:53:47,R_ue1dhZsYfzJAMb7,NaN,...,5,1,4,1,1,3,1,4,4,5
22,2022-11-15 02:38:30,2022-11-15 02:42:10,0,96.224.18.19,100,220,1,2022-11-15 02:42:11,R_3iO3AqqwrjQHzR5,NaN,...,5,1,3,2,2,2,2,3,1,5
23,2022-11-15 02:43:33,2022-11-15 02:48:04,0,96.224.18.19,100,271,1,2022-11-15 02:48:05,R_25GixwyEb6kcXi3,NaN,...,4,2,4,2,2,2,2,3,4,4
24,2022-12-04 17:23:05,2022-12-04 17:33:50,0,100.38.63.39,100,644,1,2022-12-04 17:33:51,R_vUA864h3ifQ2B6F,NaN,...,4,1,2,4,1,1,1,4,3,5
25,2022-12-05 02:05:06,2022-12-05 02:10:22,0,71.191.211.124,100,316,1,2022-12-05 02:10:23,R_3CDEzcrVOrcbhL1,NaN,...,3,1,5,5,2,3,1,2,5,3
26,2022-12-05 02:29:13,2022-12-05 02:36:43,0,162.83.252.178,100,449,1,2022-12-05 02:36:44,R_db7xpPLsudMzTZn,NaN,...,4,2,4,2,2,2,2,3,4,5
27,2022-12-05 21:24:20,2022-12-05 21:30:32,0,148.74.160.170,100,371,1,2022-12-05 21:30:33,R_2cuOpL5oAU5FjDr,NaN,...,5,1,3,1,1,1,1,4,5,5
28,2022-12-06 01:48:39,2022-12-06 01:57:26,0,174.204.137.119,100,526,1,2022-12-06 01:57:26,R_tVuPM7bgNlAhMid,NaN,...,4,2,4,2,1,2,2,4,3,5
29,2022-12-06 02:59:34,2022-12-06 03:04:36,0,24.189.211.249,100,301,1,2022-12-06 03:04:36,R_1llQrOpYWbx6r8O,NaN,...,4,2,5,4,1,2,2,1,3,2
30,2022-12-04 15:49:39,2022-12-04 15:49:46,0,100.33.143.98,2,7,0,2022-12-11 15:49:49,R_3e46OHPTj9CRHXH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2022-12-04 17:50:07,2022-12-04 17:50:30,0,75.105.35.248,2,23,0,2022-12-11 17:50:32,R_3et6sXrnic0fyAc,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2022-12-05 11:10:37,2022-12-05 11:15:21,0,74.108.18.12,67,283,0,2022-12-12 11:15:27,R_2Toa0kZX189kMaC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
drop_col = ['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
        'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
        'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
        'ExternalReference', 'LocationLatitude', 'LocationLongitude',
        'DistributionChannel', 'UserLanguage']

In [9]:
dropped_df = new_df.drop(drop_col, axis=1)
dropped_df

,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
2,1,1,2,NaN,2,NaN,NaN,NaN,NaN,1,...,5,1,1,4,2,1,1,4,3,5
3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,1,...,4,1,4,2,2,2,2,2,1,5
4,1,1,2,NaN,3,NaN,NaN,NaN,NaN,1,...,4,3,1,3,2,2,2,2,1,5
5,1,1,1,NaN,3,NaN,NaN,NaN,NaN,1,...,4,2,2,3,4,2,2,4,2,4
6,1,1,2,NaN,3,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,1,2,NaN,2,1,NaN,1,NaN,NaN,...,5,1,4,1,1,2,1,4,4,5
8,1,1,1,NaN,2,1,NaN,NaN,NaN,NaN,...,3,2,5,1,1,3,1,2,5,4
9,1,1,2,NaN,4,1,NaN,NaN,NaN,NaN,...,4,1,4,2,1,2,2,2,4,5
10,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,3,2,3,3,1,1,3,3,5,5
11,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,5,2,4,2,1,3,2,4,3,5
12,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,5,1,4,2,1,1,1,3,4,5
13,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,5,1,5,1,1,3,3,2,5,4
14,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,5,1,2,3,1,1,3,2,3,4
15,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,5,1,1,3,1,1,1,2,4,5
16,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,1,2,NaN,2,NaN,NaN,NaN,NaN,NaN,...,4,2,2,1,1,2,1,1,3,4
19,1,1,2,NaN,3,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,1,2,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,5,1,4,1,1,3,1,4,4,5
22,1,1,2,NaN,3,NaN,NaN,NaN,NaN,NaN,...,5,1,3,2,2,2,2,3,1,5
23,1,1,1,NaN,3,1,NaN,NaN,NaN,NaN,...,4,2,4,2,2,2,2,3,4,4
24,1,1,1,NaN,2,NaN,NaN,1,NaN,NaN,...,4,1,2,4,1,1,1,4,3,5
25,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,3,1,5,5,2,3,1,2,5,3
26,1,1,1,NaN,2,1,1,NaN,NaN,NaN,...,4,2,4,2,2,2,2,3,4,5
27,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,5,1,3,1,1,1,1,4,5,5
28,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,4,2,4,2,1,2,2,4,3,5
29,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,4,2,5,4,1,2,2,1,3,2
30,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dropped_df.columns

Index(['Q47', 'Q1', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4_1', 'Q4_2', 'Q4_3', 'Q4_4',
       'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT', 'Q5', 'Q5_8_TEXT', 'Q6',
       'Q7', 'Q7_4_TEXT', 'Q8', 'Q8_8_TEXT', 'Q9', 'Q10', 'Q10_2_TEXT', 'Q11',
       'Q12', 'Q13', 'Q13_1_TEXT', 'Q14', 'Q15', 'Q15_7_TEXT', 'Q16',
       'Q16_2_TEXT', 'Q17', 'Q18', 'Q19', 'Q20', 'Q20_1_TEXT', 'Q20_2_TEXT',
       'Q21', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31',
       'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'Q45', 'Q46'],
      dtype='object')

In [11]:
demo = ['Q47', 'Q1', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4_1', 'Q4_2', 'Q4_3', 'Q4_4',
        'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q4_7_TEXT', 'Q5', 'Q5_8_TEXT', 'Q6',
        'Q7', 'Q7_4_TEXT', 'Q8', 'Q8_8_TEXT', 'Q9', 'Q10', 'Q10_2_TEXT', 'Q11',
        'Q12', 'Q13', 'Q13_1_TEXT', 'Q14', 'Q15', 'Q15_7_TEXT', 'Q16',
        'Q16_2_TEXT', 'Q17', 'Q18', 'Q19', 'Q20', 'Q20_1_TEXT', 'Q20_2_TEXT',
        'Q21']
content = ['Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31',
        'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
        'Q42', 'Q43', 'Q44', 'Q45', 'Q46']

In [22]:
demographic = dropped_df[demo]
likert = dropped_df[content]

In [19]:
demographic.replace(to_replace='', value=np.nan, inplace=True)
demographic.replace(to_replace=' ', value=np.nan, inplace=True)
demographic

/var/folders/t2/8w_43c7s0pz494_6j017xh4m0000gn/T/ipykernel_98467/365202004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographic.replace(to_replace='', value=np.nan, inplace=True)
/var/folders/t2/8w_43c7s0pz494_6j017xh4m0000gn/T/ipykernel_98467/365202004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographic.replace(to_replace=' ', value=np.nan, inplace=True)

,Q47,Q1,Q2,Q2_6_TEXT,Q3,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,...,Q15_7_TEXT,Q16,Q16_2_TEXT,Q17,Q18,Q19,Q20,Q20_1_TEXT,Q20_2_TEXT,Q21
2,1,1,2,NaN,2,NaN,NaN,NaN,NaN,1,...,NaN,2,Medicaid,1,2,NaN,NaN,NaN,NaN,2
3,1,1,1,NaN,3,NaN,NaN,NaN,NaN,1,...,NaN,2,Fidelis,3,1,2,1,Learning disability,NaN,1
4,1,1,2,NaN,3,NaN,NaN,NaN,NaN,1,...,NaN,2,NaN,3,2,NaN,NaN,NaN,NaN,2
5,1,1,1,NaN,3,NaN,NaN,NaN,NaN,1,...,NaN,1,NaN,5,1,1,1,Mild,NaN,2
6,1,1,2,NaN,3,NaN,NaN,NaN,NaN,1,...,NaN,2,NaN,4,2,NaN,NaN,NaN,NaN,2
7,1,1,2,NaN,2,1,NaN,1,NaN,NaN,...,NaN,2,Empire NYSHIP,1,2,NaN,NaN,NaN,NaN,2
8,1,1,1,NaN,2,1,NaN,NaN,NaN,NaN,...,NaN,2,NYSHIP,1,2,NaN,NaN,NaN,NaN,2
9,1,1,2,NaN,4,1,NaN,NaN,NaN,NaN,...,NaN,2,NaN,2,2,NaN,NaN,NaN,NaN,2
10,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,United Healthcare Oxford,1,1,1,1,Autism/ADHD,NaN,1
11,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,NaN,2,Health first,1,2,NaN,NaN,NaN,NaN,2
12,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,both white & hispanic,2,GHI and Medicaid,2,1,1,1,"autism, ADHD",NaN,1
13,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,NaN,2,NaN,1,2,1,1,None,NaN,2
14,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,NaN,2,BCBS,1,2,NaN,NaN,NaN,NaN,2
15,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,cigna,3,2,NaN,NaN,NaN,NaN,2
16,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,1,2,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,1,2,NaN,NaN,NaN,NaN,2
19,1,1,2,NaN,3,NaN,NaN,1,NaN,NaN,...,NaN,2,Aetna,1,2,NaN,NaN,NaN,NaN,2
20,1,1,2,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,1,2,NaN,NaN,NaN,NaN,2
21,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,Empire,1,1,1,1,HOH,NaN,1
22,1,1,2,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,2,2,NaN,NaN,NaN,NaN,2
23,1,1,1,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,NaN,1,2,NaN,NaN,NaN,NaN,2
24,1,1,1,NaN,2,NaN,NaN,1,NaN,NaN,...,NaN,2,NaN,1,1,1,NaN,NaN,NaN,2
25,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,NaN,2,Medicaid,1,2,NaN,NaN,NaN,NaN,2
26,1,1,1,NaN,2,1,1,NaN,NaN,NaN,...,NaN,2,1199,2,1,1,1,Autism,NaN,1
27,1,1,2,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,2,NaN,3,1,1,1,Speech or Language Impairment. Mild,NaN,1
28,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,NaN,2,1199,1,2,NaN,NaN,NaN,NaN,2
29,1,1,2,NaN,2,1,NaN,NaN,NaN,NaN,...,NaN,2,HMO,1,2,NaN,NaN,NaN,NaN,2
30,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1,1,2,NaN,2,NaN,NaN,1,NaN,NaN,...,NaN,2,NaN,1,2,NaN,NaN,NaN,NaN,2

In [18]:
likert.replace(to_replace='', value=np.nan, inplace=True)
likert.replace(to_replace=' ', value=np.nan, inplace=True)
likert

/var/folders/t2/8w_43c7s0pz494_6j017xh4m0000gn/T/ipykernel_98467/2693763535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likert.replace(to_replace='', value=np.nan, inplace=True)
/var/folders/t2/8w_43c7s0pz494_6j017xh4m0000gn/T/ipykernel_98467/2693763535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likert.replace(to_replace=' ', value=np.nan, inplace=True)

,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
2,5,5,2,5,5,1,2,1,4,1,...,5,1,1,4,2,1,1,4,3,5
3,4,4,4,5,5,4,2,2,2,2,...,4,1,4,2,2,2,2,2,1,5
4,5,4,4,4,5,4,2,1,1,1,...,4,3,1,3,2,2,2,2,1,5
5,4,4,4,4,4,2,2,2,4,4,...,4,2,2,3,4,2,2,4,2,4
7,5,5,5,5,5,2,1,4,4,1,...,5,1,4,1,1,2,1,4,4,5
8,5,2,5,3,5,2,4,5,2,3,...,3,2,5,1,1,3,1,2,5,4
9,5,5,3,4,5,2,1,4,1,2,...,4,1,4,2,1,2,2,2,4,5
10,5,4,3,4,4,2,2,3,2,3,...,3,2,3,3,1,1,3,3,5,5
11,5,5,5,4,5,3,2,4,2,3,...,5,2,4,2,1,3,2,4,3,5
12,5,5,2,4,5,2,1,4,3,2,...,5,1,4,2,1,1,1,3,4,5
13,3,5,3,4,5,4,1,4,1,4,...,5,1,5,1,1,3,3,2,5,4
14,5,5,3,5,5,4,2,2,2,1,...,5,1,2,3,1,1,3,2,3,4
15,5,5,4,3,5,3,1,1,1,3,...,5,1,1,3,1,1,1,2,4,5
18,5,5,5,5,5,3,2,2,2,1,...,4,2,2,1,1,2,1,1,3,4
21,5,5,5,2,5,3,5,3,1,3,...,5,1,4,1,1,3,1,4,4,5
22,5,5,5,5,5,3,3,2,3,2,...,5,1,3,2,2,2,2,3,1,5
23,5,4,4,4,4,3,3,3,2,2,...,4,2,4,2,2,2,2,3,4,4
24,4,5,3,3,5,2,2,3,1,3,...,4,1,2,4,1,1,1,4,3,5
25,5,5,5,5,5,3,3,5,2,1,...,3,1,5,5,2,3,1,2,5,3
26,5,3,5,5,4,4,4,4,3,2,...,4,2,4,2,2,2,2,3,4,5
27,5,5,5,5,5,2,1,2,2,1,...,5,1,3,1,1,1,1,4,5,5
28,5,5,5,5,5,4,2,4,4,1,...,4,2,4,2,1,2,2,4,3,5
29,4,5,1,4,5,2,1,5,1,3,...,4,2,5,4,1,2,2,1,3,2

In [17]:
likert = likert.dropna()
likert

,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46
2,5,5,2,5,5,1,2,1,4,1,...,5,1,1,4,2,1,1,4,3,5
3,4,4,4,5,5,4,2,2,2,2,...,4,1,4,2,2,2,2,2,1,5
4,5,4,4,4,5,4,2,1,1,1,...,4,3,1,3,2,2,2,2,1,5
5,4,4,4,4,4,2,2,2,4,4,...,4,2,2,3,4,2,2,4,2,4
7,5,5,5,5,5,2,1,4,4,1,...,5,1,4,1,1,2,1,4,4,5
8,5,2,5,3,5,2,4,5,2,3,...,3,2,5,1,1,3,1,2,5,4
9,5,5,3,4,5,2,1,4,1,2,...,4,1,4,2,1,2,2,2,4,5
10,5,4,3,4,4,2,2,3,2,3,...,3,2,3,3,1,1,3,3,5,5
11,5,5,5,4,5,3,2,4,2,3,...,5,2,4,2,1,3,2,4,3,5
12,5,5,2,4,5,2,1,4,3,2,...,5,1,4,2,1,1,1,3,4,5
13,3,5,3,4,5,4,1,4,1,4,...,5,1,5,1,1,3,3,2,5,4
14,5,5,3,5,5,4,2,2,2,1,...,5,1,2,3,1,1,3,2,3,4
15,5,5,4,3,5,3,1,1,1,3,...,5,1,1,3,1,1,1,2,4,5
18,5,5,5,5,5,3,2,2,2,1,...,4,2,2,1,1,2,1,1,3,4
21,5,5,5,2,5,3,5,3,1,3,...,5,1,4,1,1,3,1,4,4,5
22,5,5,5,5,5,3,3,2,3,2,...,5,1,3,2,2,2,2,3,1,5
23,5,4,4,4,4,3,3,3,2,2,...,4,2,4,2,2,2,2,3,4,4
24,4,5,3,3,5,2,2,3,1,3,...,4,1,2,4,1,1,1,4,3,5
25,5,5,5,5,5,3,3,5,2,1,...,3,1,5,5,2,3,1,2,5,3
26,5,3,5,5,4,4,4,4,3,2,...,4,2,4,2,2,2,2,3,4,5
27,5,5,5,5,5,2,1,2,2,1,...,5,1,3,1,1,1,1,4,5,5
28,5,5,5,5,5,4,2,4,4,1,...,4,2,4,2,1,2,2,4,3,5
29,4,5,1,4,5,2,1,5,1,3,...,4,2,5,4,1,2,2,1,3,2

In [ ]:
ordered_df = likert.reset_index()
ordered_df.columns

In [ ]:
ordered_df = ordered_df.drop(['index'], axis=1)
ordered_df

In [ ]:
ordered_df.to_csv('data/likertEnglishSLP.csv')