In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/urduSLP.csv')

In [3]:
df.shape

(3, 77)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 77 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StartDate              3 non-null      object
 1   EndDate                3 non-null      object
 2   Status                 3 non-null      object
 3   IPAddress              3 non-null      object
 4   Progress               3 non-null      object
 5   Duration (in seconds)  3 non-null      object
 6   Finished               3 non-null      object
 7   RecordedDate           3 non-null      object
 8   ResponseId             3 non-null      object
 9   RecipientLastName      2 non-null      object
 10  RecipientFirstName     2 non-null      object
 11  RecipientEmail         2 non-null      object
 12  ExternalReference      2 non-null      object
 13  LocationLatitude       3 non-null      object
 14  LocationLongitude      3 non-null      object
 15  DistributionChannel    3 non-null      object
 16  UserLanguage           3 non-null      object
 17  Consent Form           3 non-null      object
 18  Screening Question     3 non-null      object
 19  Q2                     3 non-null      object
 20  Q2_6_TEXT              2 non-null      object
 21  Q3                     3 non-null      object
 22  Q4                     3 non-null      object
 23  Q4_7_TEXT              2 non-null      object
 24  Q5                     3 non-null      object
 25  Q5_8_TEXT              2 non-null      object
 26  Q6                     3 non-null      object
 27  Q7                     3 non-null      object
 28  Q7_4_TEXT              2 non-null      object
 29  Q8                     3 non-null      object
 30  Q8_8_TEXT              2 non-null      object
 31  Q9                     3 non-null      object
 32  Q10                    3 non-null      object
 33  Q10_3_TEXT             2 non-null      object
 34  Q12                    3 non-null      object
 35  Q13                    3 non-null      object
 36  Q14                    3 non-null      object
 37  Q14_1_TEXT             3 non-null      object
 38  Q15                    3 non-null      object
 39  Q16                    3 non-null      object
 40  Q16_7_TEXT             2 non-null      object
 41  Q17                    3 non-null      object
 42  Q18                    3 non-null      object
 43  Q19                    3 non-null      object
 44  Q20                    2 non-null      object
 45  Q21                    3 non-null      object
 46  Q22                    2 non-null      object
 47  Q23                    3 non-null      object
 48  Q25                    2 non-null      object
 49  Q26                    3 non-null      object
 50  Q27                    3 non-null      object
 51  Q28                    3 non-null      object
 52  Q29                    3 non-null      object
 53  Q30                    3 non-null      object
 54  Q31                    2 non-null      object
 55  Q32                    3 non-null      object
 56  Q33                    3 non-null      object
 57  Q34                    3 non-null      object
 58  Q35                    3 non-null      object
 59  Q36                    3 non-null      object
 60  Q37                    2 non-null      object
 61  Q38                    3 non-null      object
 62  Q39                    3 non-null      object
 63  Q40                    3 non-null      object
 64  Q41                    3 non-null      object
 65  Q42                    3 non-null      object
 66  Q43                    3 non-null      object
 67  Q44                    2 non-null      object
 68  Q45                    3 non-null      object
 69  Q46                    3 non-null      object
 70  Q47                    3 non-null      object
 71  Q48                    3 non-null      object
 72  Q49                    2 non-null      object
 73  Q50                    3 non-null      object
 74  Q51                    3 non-null      object
 75  Q52                    3 non-null      object
 76  Q53                    3 non-null      object
dtypes: object(77)
memory usage: 1.9+ KB

In [5]:
df.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Consent Form',
       'Screening Question', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4', 'Q4_7_TEXT', 'Q5',
       'Q5_8_TEXT', 'Q6', 'Q7', 'Q7_4_TEXT', 'Q8', 'Q8_8_TEXT', 'Q9', 'Q10',
       'Q10_3_TEXT', 'Q12', 'Q13', 'Q14', 'Q14_1_TEXT', 'Q15', 'Q16',
       'Q16_7_TEXT', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35',
       'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45',
       'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53'],
      dtype='object')

In [6]:
new_df = df.drop([0,1])
new_df

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53
2,2022-10-18 02:34:21,2022-10-18 02:45:50,0,67.85.21.60,100,688,1,2022-10-18 02:45:50,R_6YfKKXyOf849hLz,NaN,...,NaN,4,4,5,5,NaN,5,2,5,5

In [7]:
drop_col = ['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
        'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
        'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
        'ExternalReference', 'LocationLatitude', 'LocationLongitude',
        'DistributionChannel', 'UserLanguage']

In [8]:
dropped_df = new_df.drop(drop_col, axis=1)
dropped_df

,Consent Form,Screening Question,Q2,Q2_6_TEXT,Q3,Q4,Q4_7_TEXT,Q5,Q5_8_TEXT,Q6,...,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53
2,1,1,2,NaN,3,5,NaN,2,NaN,1,...,NaN,4,4,5,5,NaN,5,2,5,5

In [9]:
dropped_df.isnull().sum()

Consent Form          0
Screening Question    0
Q2                    0
Q2_6_TEXT             1
Q3                    0
Q4                    0
Q4_7_TEXT             1
Q5                    0
Q5_8_TEXT             1
Q6                    0
Q7                    0
Q7_4_TEXT             1
Q8                    0
Q8_8_TEXT             1
Q9                    0
Q10                   0
Q10_3_TEXT            1
Q12                   0
Q13                   0
Q14                   0
Q14_1_TEXT            0
Q15                   0
Q16                   0
Q16_7_TEXT            1
Q17                   0
Q18                   0
Q19                   0
Q20                   1
Q21                   0
Q22                   1
Q23                   0
Q25                   1
Q26                   0
Q27                   0
Q28                   0
Q29                   0
Q30                   0
Q31                   1
Q32                   0
Q33                   0
Q34                   0
Q35                   0
Q36                   0
Q37                   1
Q38                   0
Q39                   0
Q40                   0
Q41                   0
Q42                   0
Q43                   0
Q44                   1
Q45                   0
Q46                   0
Q47                   0
Q48                   0
Q49                   1
Q50                   0
Q51                   0
Q52                   0
Q53                   0
dtype: int64

In [10]:
dropped_df.replace(to_replace='', value=np.nan, inplace=True)
dropped_df.replace(to_replace=' ', value=np.nan, inplace=True)

In [11]:
dropped_df.columns

Index(['Consent Form', 'Screening Question', 'Q2', 'Q2_6_TEXT', 'Q3', 'Q4',
       'Q4_7_TEXT', 'Q5', 'Q5_8_TEXT', 'Q6', 'Q7', 'Q7_4_TEXT', 'Q8',
       'Q8_8_TEXT', 'Q9', 'Q10', 'Q10_3_TEXT', 'Q12', 'Q13', 'Q14',
       'Q14_1_TEXT', 'Q15', 'Q16', 'Q16_7_TEXT', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31',
       'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51',
       'Q52', 'Q53'],
      dtype='object')

In [12]:
dropped_df

,Consent Form,Screening Question,Q2,Q2_6_TEXT,Q3,Q4,Q4_7_TEXT,Q5,Q5_8_TEXT,Q6,...,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53
2,1,1,2,NaN,3,5,NaN,2,NaN,1,...,NaN,4,4,5,5,NaN,5,2,5,5

In [13]:
ordered_df = dropped_df.reset_index()

In [14]:
ordered_df = ordered_df.drop(['index'], axis=1)
ordered_df

,Consent Form,Screening Question,Q2,Q2_6_TEXT,Q3,Q4,Q4_7_TEXT,Q5,Q5_8_TEXT,Q6,...,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53
0,1,1,2,NaN,3,5,NaN,2,NaN,1,...,NaN,4,4,5,5,NaN,5,2,5,5

In [15]:
# 44 not nan values
true_df = ordered_df.dropna(thresh=44)
true_df

,Consent Form,Screening Question,Q2,Q2_6_TEXT,Q3,Q4,Q4_7_TEXT,Q5,Q5_8_TEXT,Q6,...,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53
0,1,1,2,NaN,3,5,NaN,2,NaN,1,...,NaN,4,4,5,5,NaN,5,2,5,5

In [16]:
true_df.to_csv('data/newUrduSLP.csv')